*.iso
*.log
*.vdi
*.box
*.ovf
packer_cache/
/.vagrant
provision.yml
.vscode/
/*/.vagrant/*
*/output/*
*/output*/*
*.checksum
*/ubuntu-server-22.04-qemu/*
*/*-qemu/*
*/metadata.json
*/metadata*.json
*/*/metadata.json
*/*/metadata*.json

# builds directory
builds/*/*/*/output*
builds/*/*/*/output*/*
builds/*/*/*/*.box
builds/*/*/*/metadata*.json
