Vagrant.configure(2) do |config|
  config.vm.network :forwarded_port, guest: 22, host: 22, id: "ssh", auto_correct:true
  config.vm.provider :libvirt do |guest|
    guest.cpus = 2
    guest.memory = 2048
    guest.disk_bus = "virtio"
    guest.nic_model_type = "virtio"
  end
end
